
deps/SDL2/lib/x64/SDL2.lib
deps/SDL2/lib/x64/SDL2.dll
deps/SDL2/include/SDL_vulkan.h
deps/SDL2/include/SDL_video.h
deps/SDL2/include/SDL_version.h
deps/SDL2/include/SDL_types.h
deps/SDL2/include/SDL_touch.h
deps/SDL2/include/SDL_timer.h
deps/SDL2/include/SDL_thread.h
deps/SDL2/include/SDL_test_random.h
deps/SDL2/include/SDL_test_memory.h
deps/SDL2/include/SDL_test_md5.h
deps/SDL2/include/SDL_test_log.h
deps/SDL2/include/SDL_test_images.h
deps/SDL2/include/SDL_test_harness.h
deps/SDL2/include/SDL_test_fuzzer.h
deps/SDL2/include/SDL_test_font.h
deps/SDL2/include/SDL_test_crc32.h
deps/SDL2/include/SDL_test_compare.h
deps/SDL2/include/SDL_test_common.h
deps/SDL2/include/SDL_test_assert.h
deps/SDL2/include/SDL_test.h
deps/SDL2/include/SDL_syswm.h
deps/SDL2/include/SDL_system.h
deps/SDL2/include/SDL_surface.h
deps/SDL2/include/SDL_stdinc.h
deps/SDL2/include/SDL_shape.h
deps/SDL2/include/SDL_sensor.h
deps/SDL2/include/SDL_scancode.h
deps/SDL2/include/SDL_rwops.h
deps/SDL2/include/SDL_revision.h
deps/SDL2/include/SDL_render.h
deps/SDL2/include/SDL_rect.h
deps/SDL2/include/SDL_quit.h
deps/SDL2/include/SDL_power.h
deps/SDL2/include/SDL_platform.h
deps/SDL2/include/SDL_pixels.h
deps/SDL2/include/SDL_opengles2_khrplatform.h
deps/SDL2/include/SDL_opengles2_gl2platform.h
deps/SDL2/include/SDL_opengles2_gl2ext.h
deps/SDL2/include/SDL_opengles2_gl2.h
deps/SDL2/include/SDL_opengles2.h
deps/SDL2/include/SDL_opengles.h
deps/SDL2/include/SDL_opengl_glext.h
deps/SDL2/include/SDL_opengl.h
deps/SDL2/include/SDL_name.h
deps/SDL2/include/SDL_mutex.h
deps/SDL2/include/SDL_mouse.h
deps/SDL2/include/SDL_misc.h
deps/SDL2/include/SDL_metal.h
deps/SDL2/include/SDL_messagebox.h
deps/SDL2/include/SDL_main.h
deps/SDL2/include/SDL_log.h
deps/SDL2/include/SDL_locale.h
deps/SDL2/include/SDL_loadso.h
deps/SDL2/include/SDL_keycode.h
deps/SDL2/include/SDL_keyboard.h
deps/SDL2/include/SDL_joystick.h
deps/SDL2/include/SDL_hints.h
deps/SDL2/include/SDL_haptic.h
deps/SDL2/include/SDL_gesture.h
deps/SDL2/include/SDL_gamecontroller.h
deps/SDL2/include/SDL_filesystem.h
deps/SDL2/include/SDL_events.h
deps/SDL2/include/SDL_error.h
deps/SDL2/include/SDL_endian.h
deps/SDL2/include/SDL_egl.h
deps/SDL2/include/SDL_cpuinfo.h
deps/SDL2/include/SDL_copying.h
deps/SDL2/include/SDL_config_wiz.h
deps/SDL2/include/SDL_config_winrt.h
deps/SDL2/include/SDL_config_windows.h
deps/SDL2/include/SDL_config_psp.h
deps/SDL2/include/SDL_config_pandora.h
deps/SDL2/include/SDL_config_minimal.h
deps/SDL2/include/SDL_config_macosx.h.orig
deps/SDL2/include/SDL_config_macosx.h
deps/SDL2/include/SDL_config_iphoneos.h
deps/SDL2/include/SDL_config_android.h
deps/SDL2/include/SDL_config.h.in
deps/SDL2/include/SDL_config.h.cmake
deps/SDL2/include/SDL_config.h
deps/SDL2/include/SDL_clipboard.h
deps/SDL2/include/SDL_blendmode.h
deps/SDL2/include/SDL_bits.h
deps/SDL2/include/SDL_audio.h
deps/SDL2/include/SDL_atomic.h
deps/SDL2/include/SDL_assert.h
deps/SDL2/include/SDL.h
deps/SDL2/include/close_code.h
deps/SDL2/include/begin_code.h
deps/SDL2/docs/README.md
deps/SDL2/docs/README-winrt.md
deps/SDL2/docs/README-windows.md
deps/SDL2/docs/README-wince.md
deps/SDL2/docs/README-vita.md
deps/SDL2/docs/README-visualc.md
deps/SDL2/docs/README-touch.md
deps/SDL2/docs/README-raspberrypi.md
deps/SDL2/docs/README-psp.md
deps/SDL2/docs/README-porting.md
deps/SDL2/docs/README-platforms.md
deps/SDL2/docs/README-pandora.md
deps/SDL2/docs/README-os2.md
deps/SDL2/docs/README-nacl.md
deps/SDL2/docs/README-macosx.md
deps/SDL2/docs/README-linux.md
deps/SDL2/docs/README-kmsbsd.md
deps/SDL2/docs/README-ios.md
deps/SDL2/docs/README-hg.md
deps/SDL2/docs/README-git.md
deps/SDL2/docs/README-gesture.md
deps/SDL2/docs/README-emscripten.md
deps/SDL2/docs/README-dynapi.md
deps/SDL2/docs/README-directfb.md
deps/SDL2/docs/README-cmake.md
deps/SDL2/docs/README-android.md
deps/SDL2/docs/doxyfile
deps/SDL2/COPYING.txt
deps/SDL2/BUGS.txt
Debug/SDL2 Borderless.pdb
.vs/SDL2 Borderless/v16/ipch/AutoPCH/b91072f40f9548e0/MAIN.ipch
.vs/SDL2 Borderless/v16/ipch/AutoPCH/60e678e05616779f/MAIN.ipch
.vs/SDL2 Borderless/v16/Browse.VC.opendb
.vs/SDL2 Borderless/v16/Browse.VC.db-wal
.vs/SDL2 Borderless/v16/Browse.VC.db-shm
.vs/SDL2 Borderless/v16/Browse.VC.db
.vs/SDL2 Borderless/v16/.suo
x64/Debug/SDL2.dll
x64/Debug/SDL2 Borderless.pdb
x64/Debug/SDL2 Borderless.exe
x64/Debug/SDL2 Aero.pdb
x64/Debug/SDL2 Aero.exe
SDL2 Aero/x64/Debug/vc142.pdb
SDL2 Aero/x64/Debug/vc142.idb
SDL2 Aero/x64/Debug/SDL2 Aero.vcxproj.FileListAbsolute.txt
SDL2 Aero/x64/Debug/SDL2 Aero.tlog/SDL2 Aero.lastbuildstate
SDL2 Aero/x64/Debug/SDL2 Aero.tlog/link.write.1.tlog
SDL2 Aero/x64/Debug/SDL2 Aero.tlog/link.read.1.tlog
SDL2 Aero/x64/Debug/SDL2 Aero.tlog/link.command.1.tlog
SDL2 Aero/x64/Debug/SDL2 Aero.tlog/CL.write.1.tlog
SDL2 Aero/x64/Debug/SDL2 Aero.tlog/CL.read.1.tlog
SDL2 Aero/x64/Debug/SDL2 Aero.tlog/CL.command.1.tlog
SDL2 Aero/x64/Debug/SDL2 Aero.log
SDL2 Aero/x64/Debug/SDL2 Aero.ilk
SDL2 Aero/x64/Debug/SDL2 Aero.exe.recipe
SDL2 Aero/x64/Debug/SDL2 Aero.Build.CppClean.log
SDL2 Aero/x64/Debug/main.obj
.vs/SDL2 Aero/v16/.suo
.vs/SDL2 Aero/v16/Browse.VC.db
.vs/SDL2 Aero/v16/Browse.VC.db-shm
.vs/SDL2 Aero/v16/Browse.VC.db-wal
.vs/SDL2 Aero/v16/Browse.VC.opendb
.vs/SDL2 Aero/v16/ipch/AutoPCH/37e67feeedeb98c0/MAIN.ipch
.vs/SDL2 Aero/v16/ipch/AutoPCH/a144a52fd4dbe48e/MAIN.ipch
deps/SDL2/lib/x64/SDL2main.lib
deps/SDL2/lib/x64/SDL2test.lib
deps/SDL2/lib/x86/SDL2.dll
deps/SDL2/lib/x86/SDL2.lib
deps/SDL2/lib/x86/SDL2main.lib
deps/SDL2/lib/x86/SDL2test.lib
deps/SDL2/README-SDL.txt
deps/SDL2/README.txt
deps/SDL2/WhatsNew.txt
deps/SDL2img/include/SDL_image.h
deps/SDL2img/lib/x64/libjpeg-9.dll
deps/SDL2img/lib/x64/libpng16-16.dll
deps/SDL2img/lib/x64/libtiff-5.dll
deps/SDL2img/lib/x64/libwebp-7.dll
deps/SDL2img/lib/x64/LICENSE.jpeg.txt
deps/SDL2img/lib/x64/LICENSE.png.txt
deps/SDL2img/lib/x64/LICENSE.tiff.txt
deps/SDL2img/lib/x64/LICENSE.webp.txt
deps/SDL2img/lib/x64/LICENSE.zlib.txt
deps/SDL2img/lib/x64/SDL2_image.dll
deps/SDL2img/lib/x64/SDL2_image.lib
deps/SDL2img/lib/x64/zlib1.dll
deps/SDL2img/lib/x86/libjpeg-9.dll
deps/SDL2img/lib/x86/libpng16-16.dll
deps/SDL2img/lib/x86/libtiff-5.dll
deps/SDL2img/lib/x86/libwebp-7.dll
deps/SDL2img/lib/x86/LICENSE.jpeg.txt
deps/SDL2img/lib/x86/LICENSE.png.txt
deps/SDL2img/lib/x86/LICENSE.tiff.txt
deps/SDL2img/lib/x86/LICENSE.webp.txt
deps/SDL2img/lib/x86/LICENSE.zlib.txt
deps/SDL2img/lib/x86/SDL2_image.dll
deps/SDL2img/lib/x86/SDL2_image.lib
deps/SDL2img/lib/x86/zlib1.dll
deps/SDL2mix/include/SDL_mixer.h
deps/SDL2mix/lib/x64/libFLAC-8.dll
deps/SDL2mix/lib/x64/libmodplug-1.dll
deps/SDL2mix/lib/x64/libmpg123-0.dll
deps/SDL2mix/lib/x64/libogg-0.dll
deps/SDL2mix/lib/x64/libopus-0.dll
deps/SDL2mix/lib/x64/libopusfile-0.dll
deps/SDL2mix/lib/x64/libvorbis-0.dll
deps/SDL2mix/lib/x64/libvorbisfile-3.dll
deps/SDL2mix/lib/x64/LICENSE.FLAC.txt
deps/SDL2mix/lib/x64/LICENSE.modplug.txt
deps/SDL2mix/lib/x64/LICENSE.mpg123.txt
deps/SDL2mix/lib/x64/LICENSE.ogg-vorbis.txt
deps/SDL2mix/lib/x64/LICENSE.opus.txt
deps/SDL2mix/lib/x64/LICENSE.opusfile.txt
deps/SDL2mix/lib/x64/SDL2_mixer.dll
deps/SDL2mix/lib/x64/SDL2_mixer.lib
deps/SDL2mix/lib/x86/libFLAC-8.dll
deps/SDL2mix/lib/x86/libmodplug-1.dll
deps/SDL2mix/lib/x86/libmpg123-0.dll
deps/SDL2mix/lib/x86/libogg-0.dll
deps/SDL2mix/lib/x86/libopus-0.dll
deps/SDL2mix/lib/x86/libopusfile-0.dll
deps/SDL2mix/lib/x86/libvorbis-0.dll
deps/SDL2mix/lib/x86/libvorbisfile-3.dll
deps/SDL2mix/lib/x86/LICENSE.FLAC.txt
deps/SDL2mix/lib/x86/LICENSE.modplug.txt
deps/SDL2mix/lib/x86/LICENSE.mpg123.txt
deps/SDL2mix/lib/x86/LICENSE.ogg-vorbis.txt
deps/SDL2mix/lib/x86/LICENSE.opus.txt
deps/SDL2mix/lib/x86/LICENSE.opusfile.txt
deps/SDL2mix/lib/x86/SDL2_mixer.dll
deps/SDL2mix/lib/x86/SDL2_mixer.lib
deps/SDL2ttf/include/SDL_ttf.h
deps/SDL2ttf/lib/x64/libfreetype-6.dll
deps/SDL2ttf/lib/x64/LICENSE.freetype.txt
deps/SDL2ttf/lib/x64/LICENSE.zlib.txt
deps/SDL2ttf/lib/x64/SDL2_ttf.dll
deps/SDL2ttf/lib/x64/SDL2_ttf.lib
deps/SDL2ttf/lib/x64/zlib1.dll
deps/SDL2ttf/lib/x86/libfreetype-6.dll
deps/SDL2ttf/lib/x86/LICENSE.freetype.txt
deps/SDL2ttf/lib/x86/LICENSE.zlib.txt
deps/SDL2ttf/lib/x86/SDL2_ttf.dll
deps/SDL2ttf/lib/x86/SDL2_ttf.lib
deps/SDL2ttf/lib/x86/zlib1.dll
SDL2 Aero/Debug/main.obj
SDL2 Aero/Debug/SDL2 Borderless.log
SDL2 Aero/Debug/SDL2 Borderless.tlog/CL.command.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/CL.read.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/CL.write.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/link-cvtres.read.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/link-cvtres.write.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/link-rc.read.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/link-rc.write.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/link.command.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/link.read.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/link.write.1.tlog
SDL2 Aero/Debug/SDL2 Borderless.tlog/SDL2 Borderless.lastbuildstate
SDL2 Aero/Debug/SDL2 Borderless.tlog/unsuccessfulbuild
SDL2 Aero/Debug/vc142.idb
SDL2 Aero/Debug/vc142.pdb
